
/* .................Contact page....................... */
.contact{
  margin-top:100px;
text-align: center;
}
.form-page{
    text-align: center;
}
.contact h1{
    font-size: 45px;
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hr-row hr{
    height: 3px;
    background-color: #ea3a60;
    margin-bottom:50px;
}
.hr-row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.hr-row span{
    width: 200px;
}
.form-page #name_email{
    height: 40px;
    width: 34%;
    padding-left: 20px;
    font-size: 15px;
    margin: 1%;
}
#subject{
  height: 40px;
  width: 70%;
  padding-left: 20px;
  font-size: 15px;
  margin-top: 10px;
}
.form-page textarea{
    margin-top: 20px;
    height: 20%;
    width: 70%;
    padding: 25px;
    font-size: 20px;
}
.form-page button{
    margin-top: 20px;
    width:160px;
    height: 40px;
    background-color: #ea3a60;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.form-page button:hover{background-color: black;}
.socail_icons{
  display: flex;
   margin-top: 50px; 
   text-align: center;
   margin-bottom: 50px;
  }
.socail_icons section{
    width:100%;
    height: 170px;
 display: grid;
 justify-content: space-around;
 margin-top: 20px;
 text-align: center;
 justify-items: center;
}
.contact-icons{
    height: 100pX;
    width: 100px;
    background-color: bisque;
    border-radius: 50%;
    color: #ea3a60;
    text-align: center;
    align-content: center;
}
.icon-size{
    font-size: 60px;
}
.contact-icons i{
    font-size: 40px;
}
.contact-icons h2{
    font-size: 25px;
}
@media only screen and (max-width:768px) {
  .socail_icons{
    display: block;
  }
  input,textarea{
    border: 1px solid gray;
  }
}
/* ....................Privacy Policy page........................... */
.privacypolicy{
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;

}
.img{
    display: flex;
     justify-content: center;
     align-items: center;
     margin-top:90px;
   }
   .privacypolicy h1, h2{
   text-align:center;
    font-weight: bolder;
   }
     .container{
   width: fit-content;
   margin-left:15%;
   margin-right: 15%;
   
     }
   .headings{
     font-size: 25px;
     font-weight: bold;
   }
   p{
     font-size: 20px;
   }
   /* ......................Services page................................. */
   .all-cards{
    height: fit-content;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: #ea3a60;
   }
   @media screen and (max-width: 768px) {
    .all-cards{
      grid-template-columns: auto auto;
    }
    
   }
 
   .all-cards .card{
    width: 200px;
    height: 80px;
    display: flex;
    background-color:rgba(238, 234, 246, 0.907);
    padding: 10px;
    border-radius: 20px;
    margin: 5%;
   }

   .all-cards .card:hover{
    padding: 0%;
    h2{
      display: none;
    }
    img{
      width: 200px;
      height: 80px;
    }
   }
   .all-cards img{
    height:60px;
    width: 70px;
    border-radius: 20px;
    border: 2px solid pink;
    margin-top: auto;
    margin-bottom: auto
   }
   .all-cards h2{
    font-size: 20px;
    margin: auto auto auto auto;

   }
   @media screen and (max-width: 992px) {
    .all-cards .card{
      width: 150px;
      height: 70px;
     }
     .all-cards img{
      height: 50px;
     }
     .all-cards h2{
      font-size: 15px;
     }
   }
   /* ........................Resume...................................... */
   body {
    font-family: Arial, sans-serif;
  }
  .resume-maker{background-color: cornflowerblue;
  }
  .resume-maker h1,h2{
    font-size: 30px;
    text-align: center;
    padding:2%;
  }
  form{margin: 2%;}
  
  h1, h2, h3, h4 {
    color: #333;
  }
  
  .input-text {
    margin: 20px;
    display:grid;
    grid-template-columns: auto auto auto;
  }
  
  .input-text input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #project-name{
    width: 30%;
    padding: 10px;
    margin: 10px ;
    gap: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;

  }
  .textarea-box .form-group{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
  }
  .Radio-button{
    margin: 10px;
   text-align: center;
   font-size: 30px;
  }
  .Radio-button input{
    margin-left: 50px;
    width: 20px;
    height: 20px;
  }
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  /* .........................resume preview................ */
  .resume-preview {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid green;

  }
  .resume-header{
    border: 2px solid red;
  }
  .resume-header h3{
    text-align: center;
    font-size:  35px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .personal-info{
    width: 100%;
    border: 2px solid red;
    justify-content:space-around ;
    display: grid;
    grid-template-columns: auto auto;
  }
  .resume-section{
    border: 2px solid blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }