/* Styles for the form container */
.app-logo {
width:50px;
}

.all-content-center{
  width: 100%;
  justify-content: center;
  background-image: url("../Images/wallpaper/wallpaper-2.jpg");
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.signup{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.signup .form {
  padding: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 25px;

}
.login .form {
  padding: 1rem;
  width: 60%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;


}

.login ,.signup {
  width: 50%;
  font-size: 25px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 2% 15% 4% 15%;
  /* color: aliceblue; */
}
.textfiled-gap{
  margin-right: 16px;
}
.login .signup a {
  text-decoration: none;
  color: rgb(255 4 95);
}
.show-password{
  text-decoration: none;
}
.text-warning{
  color:rgb(255 193 0);
}
.checkbox {
  position: relative;
  height: 18px;
  width: 18px;
}
.signin-btn{
  background-color: rgb(255 4 95);
  color: aliceblue;
  font-size: 24px;
  width: 60%;
  padding: 2px 0px 2px 0px;
  border: none;
  border-radius: 25px;
}
.rememberMe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.rememberMe input {
  opacity: 0.5;
  transition: ease all 0.3s;
}
.rememberMe label {
  font-size: 16px;
  margin-left: 6px;
  /* margin-top: 5%; */
}
.input-filed{width: 80%;}
#standard-basic{
  align-items: left;
  /* color: aqua; */
}
#standard-password-input{
/* color: aliceblue; */
align-items: left;
}
.already-account,.forget-password,.any-problem{
  font-size: 15px;
}
.signInWith {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
.signInWith span {
  height: 1px;
  width: 100%;
  border: 1px solid #000000;
  display: inline-block;
}
.signInWith p {
  text-wrap: nowrap;
  margin: 0 10px;
}
.signIn-tools {
  margin-bottom: 16px;
}
.signIn-tools img {
  width: 40px;
  margin: 0px  5px;
}
.already-account-button{
  width: 35%;
  /* background-color: blanchedalmond; */
}
.sweetalert-pop-button{
  /* color:white; */
  background-color: blue;
}