.cscwork{
    width:95%;
    margin-left: auto;
    margin-right:  auto;
}
.workdetails .cscwork {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
.workdetails h1{
    color: #0f0101;
    text-align: center;
}
.workdetails h2 {
    color: #007bff;
    text-align: start;

}
.workdetails .cscwork ul {
    list-style-type: disc;
    padding-left: 20px;
}
.workdetails .cscwork ul li {
    margin-bottom: 10px;
}
.workdetails .cscwork .details {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}