.WeatherApp{
    display: grid;
    line-height:1.5;
    justify-content:center;
    /* background-color: skyblue; */
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-arc-weather-background-image_253195.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top:25px;
    gap: 15px;
    width: 30%;
    margin: 5% 35% 0% 35%;
    padding: 30px 10px 0px 10px;
    border: 1px solid gray;
    border-radius: 30px;
}
.search{
    display: flex;
    justify-content:space-between;
    height:20%;
}
input{
    width: 72%;
    height:50px;
    border-radius: 25px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    width: 25%;
    height: 50px;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
}
.r{
    display: grid;
    width: 450px;
    height: 500px;
    justify-content: center;
}
.result{
    width: 350px;
    text-align: center;
    padding-top: 15px;
}
.styled{
    font-size:20px;
    font-size: bold;
}